body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;    
    text-transform: uppercase;
        
    background-color: #f2f2f2;

}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    
    background-color: #ffffff;    
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    font-weight: bold;
    color: #000000;
    
    background-color: #ffffff;
}

.site-navigation a:hover {
    color: #81b3d2;    
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);     
}

.container{
    background-color: #ffffff;
}

.title-sedona {
    background-image: url("../img/title-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.title-sedona-img {
   text-align: center; 
}

.slogan-sedona {
    display: block;
    
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}

.features-sedona {
    line-height: 26px;
    text-align: center;
}

.features-list {
    list-style: none;  
    text-align: center;
}

.features-real-town,
.features-bridge {
    color: #ffffff;
    
    background-color: #81b3d2;    
}

.advice-list {
    list-style: none;
}

.advice-item b { 
    font-size: 21px;
    font-weight: bold;
    color:  #000000;
}

.features-item h3 {
    font-size: 21px;
    font-weight: bold; 
    color:  #000000;
}

.features-area,
.features-road,
.features-tourists {
    background-color: #eeeeee;
}



.search-forms b {
    display: block;
    
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color:  #000000;
    text-align: center;
}

.search-forms p {
    line-height: 24px;    
}

.button {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    
    background-color: #81b3d2;
    
}

.button:hover {    
    background-color: #669ec0;
   
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
    
}

.search-forms .button-open-search {
    font-size: 21px;
    line-height: 26px;   
    
    background-color: #766357;
}

.button-reserve {
    font-size: 14px;
    line-height: 21px;
    
    background-color: #766357;    
     
}

.button-open-search:hover,
.button-reserve:hover{
    background-color: #604e43;
}

.button-open-search:active,
.button-reserve:active{
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.main-footer {    
    line-height: 26px;
    
    background-color: #ffffff;  
}

.icon-visitsedona {
    font-weight: bold;
    font-size: 21px;  
    color: #000000;
    text-align: left;
}

.social-button{
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    text-align: center;
    
    background-color: #81b3d2;
}

.social-list {    
    list-style: none;  
}

.footer-logo {
    text-align: right;
    line-height: 26px;
    color: #000000;
}


.footer-logo-img  {
    fill: #000000;
    width: 115px;
    height: 41px;
}

.footer-logo-img:hover  {
    fill: #81b3d2;    
}

.footer-logo-img:active {
    fill: #bdbbbc;
}

.search {
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    
    background-color: rgba(255, 255, 255, 1);
}

.search-form input,
.search-form input::placeholder {
    font-size: 14px; 
    font: inherit;
    color: #000000;
    font-weight: bold; 
    
    background-color: #f2f2f2; 
}


.search-form input:hover,
.search-form input:hover::placeholder {
    background-color: #ebebeb;     
}

.search-form input:focus,
.search-form input:focus::placeholder {
    border-color: #e5e5e5;
    color: #000000;
    
    background-color: #ffffff; 
}

.button-search {
    font-size: 21px;
    line-height: 26px;
}

.site-navigation .site-navigation-active {
    color: #766357;
}

.sorting-form p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.hotels-item {
    list-style: none;
}
.hotels-list h3:hover {
    color: #81b3d2;
}

.hotels-list h3:active {
   color: rgba(0, 0, 0, 0.3);     
}

.hotels-list h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-header {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
}

.sorting-list {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    list-style: none;    
}

.sorting-item a {
   color: #000000;
}

.sorting-list li:nth-child(1) a {
    color: #81b3d2;
}
.sorting-list li:nth-child(2) a,
.sorting-list li:nth-child(3) a {
    color: rgba(0, 0, 0, 0.3);
}

.sorting-list li:nth-child(2) a:hover,
.sorting-list li:nth-child(3) a:hover {
    color: #81b3d2;
}

.sorting-list li:nth-child(2) a:active,
.sorting-list li:nth-child(3) a:active {
    color: #000000;
}

.rating {
    color: #666666;
background-color: #f2f2f2;
}

.display-none{display: none;}





