body {
    width: 1280px;
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;    
    text-transform: uppercase;
        
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container-body {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*_____________________Блок шапка___________________________*/
.main-header {
	min-width: 320px;
}

.main-navigation {  
    position: relative;
    
    padding: 0;
    margin: 0;     

    font-size: 14px;
    line-height: 26px;
    color: #000000;
    
    background-color: #ffffff; 

}



.main-header-logo {
    position: absolute;
/*    z-index: 2;*/
    left:50%;   
    
    transform: translateX(-50%);    
}

.site-navigation {
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
    padding-left: 72px;
    padding-right: 72px;
    
    list-style: none;    
    font-weight: bold;
}

.site-navigation li {
    width: 128px;
    margin-right: 112px;
    padding-top: 16px;
    padding-bottom: 15px;
}

.site-navigation  .site-navigation-info{
    padding-left: 0; 
    
    text-align: left;
}

/*.site-navigation:nth-child(2n):not(last-child) */
.site-navigation .site-navigation-gallery{
    padding-left: 0;
    margin-right: 320px;
    
    text-align: left;
}

.site-navigation  .site-navigation-map {
    padding-right: 0;
    
    text-align: right;
}

.site-navigation  .site-navigation-hotels {
    margin-right: 0;
    padding-right: 0;
    
    text-align: right;
}


.site-navigation a {
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation a:hover {
    color: #81b3d2;    
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);     
}

/*______________________Блок маин_______________________________*/
.container {
    margin: 0 auto;
    background-color: #ffffff;
}

.title-sedona {    
    background:  url("../img/intro-mask.svg") bottom no-repeat,
                 url("../img/title-background.jpg") top no-repeat;
}

.title-sedona h1 {
    margin: 0; 
    padding-top: 76px;
    padding-bottom: 82px;
}

.title-sedona-img {
    display: block;
    margin: 0 auto;
}

.slogan-reasons-sedona {
    margin-bottom: 50px;
}

.slogan-sedona {    
    display: block;
    width: 576px;
    margin: 0 auto;
    margin-bottom: 29px;
    padding-top: 57px;
    
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}

.reasons-sedona {
    margin: 0 auto;
    
    text-align: center;
    line-height: 26px;
}

/*______________Блок примуществ_______________*/

.features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
    list-style: none;  

}

.features-info {
    
    padding-top: 17px;
    padding-bottom: 29px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    min-height: 150px;
    width: 280px;
    
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;
 }

 .features-item-container {
    padding: 0;
    margin: 0;
    display: flex;
    color: #ffffff;
    background-color: #81b3d2;  
}

.features-item p {  
    margin: 0;
    padding: 0;

    
}

.features-info h3 {
    margin: 0;
    padding: 0;  
    padding-left: 70px;
    padding-right: 70px;
    
    font-size: 21px;
    font-weight: bold; 
    color:  #000000;
}

.features-real-town h3{
    color: #ffffff;
}

.features-real-town-img{
     padding: 0;
    margin: 0;
    line-height: 0;
}


/*Второй пункт блока примуществ*/
.features-bridge {
    padding: 0;
    margin: 0;
    display: flex;
    color: #ffffff;
    
    background-color: #81b3d2;  
}

 .features-bridge-img {
     padding: 0;
    margin: 0;
      line-height: 0;
/*    width: 800px;*/
}

.features-bridge-info.features-info p{
    padding-left: 30px;
}

.features-bridge-info h3{
padding-left: 62px;
    padding-right: 67px;
    color: #ffffff;
}

.features-bridge-info p {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.advice-list {
    margin: 0;
    padding: 0;    
    
    display: flex;
    
    list-style: none;
}

.features-area,
.features-road,
.features-tourists {
    background-color: #eeeeee;
}

/*_________Блок дополнительных рекомендаций___________*/
.advice-item {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px;

    min-height: 200px;
    width: 300px;

   
    display: flex;
    
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    text-align: center;
    

}

.advice-item b { 
    position: relative;     

    padding-bottom: 25px;
    
    font-size: 21px;
    font-weight: bold;
    color:  #000000;
}

.advice-item p {
    margin: 0;
    padding: 0;
    padding-bottom: 19px;
}


.icon-home::before{
    content: "";
    position: absolute;
/*    top: 57px;*/
    bottom: 75px;
    left: 50%;
    
    display: table;
    width: 75px;
    height: 72px;
    
    transform: translateX(-50%);
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
}
.icon-food::before{
    content: "";
    position: absolute;
    bottom: 75px;
    left: 50%;
    
    display: table;
    width: 74px;
    height: 70px;
    
    transform: translateX(-50%);
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
}
.icon-souvenir::before{
    content: "";
    position: absolute;
    bottom: 75px;
    left: 50%;
    
    display: table;
    width: 64px;
    height: 76px;
    
    transform: translateX(-50%);
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
}



.search-forms {
     
    min-height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*________________Блок поиска_______________*/
.search-forms b {
    display: block;
    margin-top: 50px;
    
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color:  #000000;
}

.search-forms p {
    margin: 0;
    width: 399px;
    margin-top: 25px;
    margin-bottom: 48px;
    display: flex;  
    flex-direction: column;
    
    line-height: 24px;          
    align-items: center;    
    text-align: center;  
}

.search-forms a {    
    padding: 30px 140px; 
}

.search-forms .button-open-search {
    position: relative;
    font-size: 21px;
    line-height: 26px;   
    
    background-color: #766357;
}

/*______________Модальное окно поиска гостиницы ________*/
.search {
    position: absolute;
    z-index: 3;
    left: 357px;
    
    font-weight: bold;
    line-height: 26px;
    color: #000000; 
    
    background-color: rgba(255, 255, 255, 1);
}

.search-container {
    padding: 55px;
    width: 457px;  
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 285px;
}



.search-form-item-arrival input {
    margin-left: 9px;
    padding-left: 10px;
    margin-left: 19px;
    padding-left: 14px;
    
}

.search-form-item-departure input {
    margin-left: 9px;
    padding-left: 10px;
    margin-left: 15px;
    padding-left: 13px;
}


.search-form-item {
    height: 38px;
    padding: 0;
    margin: 0;
    
}

.search-form-item input {
    height: 38px;
    width: 346px;
    border: none;
    text-transform: uppercase;
}

.search-container-adult{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search-container-adult p {
    display: flex;    
    align-items: center;
}

.search-container-adult input {
    width: 38px;
    height: 38px;
    text-align: center;
}

.search-form-adult input {
    margin-left: 39px;
}

search-form-children-input{
    margin-left: 20px;
}

.item-quantity {
    width: 180px;
    margin-left: 5px
}

.item-quantity input {
    margin-left: 30px;
}

.button-adult-remove {
    padding: 0;
    position: relative;
    top: 0px;
    left: 41px;
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
}

.adult-remove {
    position: absolute;
    top: 15px;
    left: 12px;

}

.button-adult-add{
    padding: 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
}

.adult-add {
    position: absolute;
    top: 15px;
    left: 13px;
}

.children-remove {
    position: absolute;
    top: 15px;
    left: 12px;
}

.button-children-remove {
    padding: 0;
    position: relative;
    top: 0px;
    left: 30px;
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
}

.children-add{
     position: absolute;
     top: 15px;
    left: 16px;
}
.button-children-add {
  padding: 0;
    position: relative;
       top: 0px;
    left: -3px;
     width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
}

.adult-remove:hover line,
.adult-add:hover line {
   stroke: #000000;
}

.adult-remove:active line,
.adult-add:active line {
   stroke: #81b3d2;
}


.children-remove:hover line,
.children-add:hover line {
   stroke: #000000;
}

.children-remove:active line,
.children-add:active line {
   stroke: #81b3d2;
}

.date-of-arrival-calendar path,
.date-of-departure-calendar path {
    fill: #cacaca;
}

.date-of-arrival-calendar {
    position: absolute;
    top: 65px;
    right: 65px;
}

.date-of-departure-calendar {
    position: absolute;
    top: 133px;
    right: 65px;        
}

.date-of-arrival-calendar:hover path,
.date-of-departure-calendar:hover path {
    fill: #000000;
}

.date-of-arrival-calendar:active path,
.date-of-departure-calendar:active path {
    fill: #81b3d2;
}



.search-form input,
.search-form input::placeholder {
    box-sizing: border-box;
    font-size: 14px; 
    font: inherit;
    color: #000000;
    font-weight: bold;
    
    background-color: #f2f2f2; 
    
    border: none;
}


.search-form input:hover,
.search-form input:hover::placeholder {
    background-color: #ebebeb;     
}

.search-form input:focus,
.search-form input:focus::placeholder {
    border-color: #e5e5e5;
    color: #000000;
    
    background-color: #ffffff; 
}

.search-form .button-search {
    border: none;
    margin-top: 26px; 
    margin-bottom: 0px;
    min-height: 58px;
    font-size: 21px;
    line-height: 26px;

}

/*___________________Кнопки__________________*/
.button {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase; 
    
    background-color: #81b3d2;
    
    padding: 5px 10px;
    
}

.button:hover {    
    background-color: #669ec0;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;  
    border: none;
}

.button-reserve {
    font-size: 14px;
    line-height: 21px; 
    
    background-color: #766357;
}

.button-open-search:hover,
.button-reserve:hover {
    background-color: #604e43;
}

.button-open-search:active,
.button-reserve:active {
    color: rgba(255, 255, 255, 0.3);   
    
    border: none;
    background-color: #503e33;
}
/*________________Карта_________________*/
.map{
    position: relative;
}

.map iframe{
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/*_______________Подвал_______________*/

.main-footer { 
    position: relative;
    z-index: 3;
    margin-top: 474px;
    padding: 31px 73px;
    
    line-height: 26px;       
    
    background-color: rgba(255, 255, 255, 0.5);  
}
.main-footer.inner{
    margin-top: 0px;
}

.main-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-visitsedona {
    width: 200px;
    padding-left: 26px;
    padding-right: 10px;
    
    font-weight: bold;
    font-size: 21px;  
    color: #000000;
    text-align: center;
}

.social-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 48px;

    text-decoration: none;
    list-style: none;
    color: #ffffff;   
    
    background-color: #81b3d2;     
}

.social-button:hover {
    background-color: #669ec0;
}

.social-container:active path  {
    fill: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
    border: none;
}

.social-container:active a   {
    fill: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.social-list { 
    display: flex;
    width: 151px;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;  
    margin: 0;
    padding: 0;
}

.footer-logo { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 200px;
    padding-left: 12px;
    padding-right: 25px;
/*    padding-top: 4px ;*/
    
    text-align: center;
    line-height: 26px;
    color: #000000;    
}

.footer-logo span {
/*    display: inline-block;*/
/*    display: block;*/
/*    vertical-align: middle;/*/
/*    height: 20px;*/
/*    margin: auto 0;*/
/*    text-align: center;*/
}

.footer-logo a {    
    padding-top: 6px;
    padding-right: 3px;
    display: inline-block;
}

.footer-logo-img path  {
    fill: #000000;
}

.footer-logo-img path:hover  {
    fill: #81b3d2;    
}

.footer-logo-img path:active {
    fill: #bdbbbc;
}

/*__________Вторая страница__________*/
.site-navigation-active a {
    color: #766357;
}

.filters{
    display: none;
}

.sorting-form{
    height: 307px;
}

.sorting-form p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotels-list {
    margin: 0; 
    padding: 0;
}


.hotels-item {   
    width: 1128px;
    justify-content: space-between;
    display: flex;  
    
    padding-top: 30px;
    padding-bottom: 30px;
    
    list-style: none;
}

.hotels-info {
    margin-left: 72px ;
    display: flex;
    flex-direction: row;
}

.hotels-info .container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.hotels-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;    
}

.hotels-list h3:hover {
    color: #81b3d2;
}

.hotels-list h3:active {
    color: rgba(0, 0, 0, 0.3);     
}

.hotels-list h3 {
    margin: 0;
    padding: 0;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}


.hotels-detailed {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.hotels-reserve {
    display: flex;
    flex-direction: column;
}

.sorting-header {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
}

.sorting-list {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    list-style: none;    
}

.sorting-item a {
    color: #000000;
}

.sorting-list li:nth-child(1) a {
    color: #81b3d2;
}
.sorting-list li:nth-child(2) a,
.sorting-list li:nth-child(3) a {
    color: rgba(0, 0, 0, 0.3);
}

.sorting-list li:nth-child(2) a:hover,
.sorting-list li:nth-child(3) a:hover {
    color: #81b3d2;
}

.sorting-list li:nth-child(2) a:active,
.sorting-list li:nth-child(3) a:active {
    color: #000000;
}

.hotels-star-rating {
   width: 241px; 
}

.rating {
    color: #666666;  
    text-align: right;
    
    background-color: #f2f2f2;
}







