body {  
    width: 100%;  
    margin: 0;
    padding: 0;       

    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    color: #333333;    
    text-transform: uppercase;
        
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container-body {
    width: 1200px;
    margin: 0 auto;

    -webkit-box-shadow: 0 5px 15px 0 rgba(0,1,1,.2);
            box-shadow: 0 5px 15px 0 rgba(0,1,1,.2);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
            clip: rect(0 0 0 0);
  overflow: hidden;
}
/*_____________________Блок шапка___________________________*/
.main-header {
	min-width: 320px;
}

.main-navigation {  
    position: relative;

    margin: 0;
    padding: 0;         

    font-size: 14px;
    line-height: 26px;
    color: #000000;
    
    background-color: #ffffff; 

}

.main-header-logo {
    position: absolute;
    left:50%;   
    z-index: 2;
    
    -webkit-transform: translateX(-50%);     
        -ms-transform: translateX(-50%);       
            transform: translateX(-50%);    
}

.site-navigation {    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0;
    padding: 0;  
    padding-left: 72px;
    padding-right: 72px;
    
    list-style: none;    
    font-weight: bold;
}

.site-navigation li {
    width: 128px;
    margin-right: 112px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.site-navigation  .site-navigation-info {
    padding-left: 0; 
    
    text-align: left;
}

.site-navigation .site-navigation-gallery {
    margin-right: 317px;
    padding-left: 0;    
    
    text-align: left;
}

.site-navigation  .site-navigation-map {
    padding-right: 0;
    
    text-align: right;
}

.site-navigation  .site-navigation-hotels {
    margin-right: 0;
    padding-right: 0;
    
    text-align: right;
}

.site-navigation a {
    font-weight: bold;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation a:hover {
    color: #81b3d2;    
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);     
}

/*______________________Блок маин_______________________________*/
.container {
    margin: 0 auto;

    background-color: #ffffff;
}

.title-sedona {    
    position: relative;
    z-index: 1;

    height: 431px;
    padding-top: 77px;

    background: #d9eaf2 url(../img/title-background.jpg) no-repeat;
    background-size: cover;
}

.title-sedona:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 57px;
    background: url(../img/intro-mask.svg) no-repeat;
    background-size: 100% 59px;
}
.title-sedona h1 {
    margin: 0; 
}

.title-sedona-img {
    display: block;
    width: 458px;
    height: 352px;
    margin: 0 auto;
}

.slogan-reasons-sedona {
    margin-bottom: 50px;
}

.slogan-sedona {    
    display: block;
    width: 576px;
    margin: 0 auto;
    margin-bottom: 29px;
    padding-top: 59px;
    
    font-size: 21px;
    line-height: 26px;    
    font-weight: bold;    
    text-align: center;
    
}

.reasons-sedona {
    margin: 0 auto;
    
    text-align: center;
    line-height: 26px;
}

/*______________Блок примуществ_______________*/
.features-list {
    margin: 0;
    padding: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;  
}

.features-info { 
    padding: 0px 0px;

    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;    
    -webkit-box-orient: vertical;    
    -webkit-box-direction: normal;    
        -ms-flex-direction: column;    
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    text-align: center;
    
    min-height: 150px;
    width: 400px;
 }

.features-info h3 {
    margin: 0;
    width: 151px;
    padding-top: 47px;
    
    font-size: 21px;
    font-weight: bold; 
    color:  #000000;
}

.features-info span {
    padding-top: 25px;
    padding-bottom: 21px;
}

.features-info p {
    margin: 0;
    padding: 0;
    padding: 0 60px;
    width: 280px;
}

.features-item-container {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    background-color: #81b3d2;  
}

.features-real-town h3 {
    color: #ffffff;
}

.features-real-town-img {
     padding: 0;
    margin: 0;
    line-height: 0;
}

/*Второй пункт блока примуществ*/
.features-bridge {
    margin: 0;
    padding: 0;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
/* Не понятно откуда зазор между блоками(     */
    background-color: #81b3d2;  
}

.features-bridge-img {
     padding: 0;
     margin: 0;
     
     line-height: 0;
}

.features-bridge-info h3 {
    color: #ffffff;
}

.features-bridge-info span {
    padding-top: 23px;
}

.features-bridge-info p {
    padding: 0;
    padding-left: 41px;
    padding-right: 41px;
    width: 305px;
}

.features-tourists p {
    width: 255px;
    padding-left: 75px;
    padding-right: 75px;
}

.features-area,
.features-road,
.features-tourists {
    padding-bottom: 57px;
    background-color: #eeeeee;
}

/*_________Блок дополнительных рекомендаций___________*/
.advice-list {
    margin: 0;
    padding: 0;    
    
    display: -webkit-box;        
        display: -ms-flexbox;    
            display: flex;
    
    list-style: none;
}

.advice-item {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    padding-bottom: 85px;
    padding-top: 160px;
    min-height: 85px;
    width: 400px;
    
    text-align: center;  
}

.advice-item b {   
    position: relative;   
    
    padding-bottom: 25px;  
    
    font-size: 21px;
    font-weight: bold;
    color:  #000000;
}

.advice-item p {
    margin: -2px;
    padding: 0 55px;  
    width: 294px;  
}

.icon-home::before {
    content: "";
    position: absolute;
    bottom: 75px;
    left: 50%;
    
    display: table;
    width: 75px;
    height: 72px;
    
    -webkit-transform: translateX(-50%);    
        -ms-transform: translateX(-50%);    
            transform: translateX(-50%);
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
}

.icon-food::before {
    content: "";
    position: absolute;
    bottom: 75px;
    left: 50%;
    
    display: table;
    width: 74px;
    height: 70px;
    
    -webkit-transform: translateX(-50%);    
        -ms-transform: translateX(-50%);    
            transform: translateX(-50%);
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
}

.icon-souvenir::before {
    content: "";
    position: absolute;
    bottom: 75px;
    left: 50%;
    
    display: table;
    width: 64px;
    height: 76px;
    
    -webkit-transform: translateX(-50%);    
        -ms-transform: translateX(-50%);    
            transform: translateX(-50%);
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
}

.search-forms {   
    display: -webkit-box;   
        display: -ms-flexbox;   
            display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
    min-height: 280px;
   
    -webkit-box-align: center;
   
        -ms-flex-align: center;
   
            align-items: center;
}
/*________________Блок поиска_______________*/
.search-forms b {
    display: block;
    margin-top: 51px;
    
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color:  #000000;   
}

.search-forms p {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;  
    -webkit-box-orient: vertical;  
    -webkit-box-direction: normal;  
        -ms-flex-direction: column;  
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    
    margin: 0;
    margin-top: 25px;
    margin-bottom: 46px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0 10px;

    line-height: 24px;          
     
    text-align: center;  
}

.search-forms a {    
    padding: 30px 139px; 
}

.search-forms .button-open-search {
    position: relative;
    
    font-size: 21px;    
    line-height: 26px;   
    
    background-color: #766357;
}

/*______________Модальное окно поиска гостиницы ________*/
.search {
    position: relative;

    display: none;
}
.modal-show {
    display: block;
    z-index: 5;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; 
  }

.modal-error {
    -webkit-animation: shake 0.6s;
        animation: shake 0.6s;
  }

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
    }  
    70% {
        -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    }  
    90% {
        -webkit-transform: translateY(20px);
            transform: translateY(20px);
    }  
    100% {
        -webkit-transform: translateY(0);
            transform: translateY(0);
    }
  }

@keyframes bounce {
    0% {
        -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
    }  
    70% {
        -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    }  
    90% {
        -webkit-transform: translateY(20px);
            transform: translateY(20px);
    }  
    100% {
        -webkit-transform: translateY(0);
            transform: translateY(0);
    }
  }
  
@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
            transform: translateX(0);
    }  
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    }  
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
            transform: translateX(10px);
    }
  }
  
@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
            transform: translateX(0);
    }  
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    }  
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
            transform: translateX(10px);
    }
  }


.search-container {
    position: absolute;
    z-index: 5;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);   

    padding: 55px;
    width: 457px; 
    
    font-weight: bold;
    line-height: 26px;
    color: #000000;     

    background-color: rgba(255, 255, 255, 1);
}

.search-form {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    min-height: 285px;
}

.search-form-item {
    margin: 0;  
    padding: 0;    
    min-height: 38px;
}

.search-form-item input {
    min-height: 38px;
    width: 294px;

    text-transform: uppercase;

    border: none;
}
.search-form-item-arrival,
.search-form-item-departure {
    position: relative;

    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1px;
    margin-bottom: 28px;
}
.search-form-item-arrival input { 
    display: -webkit-box; 
        display: -ms-flexbox; 
            display: flex;  

    width: 346px;
    margin-right: -23px;
    padding-left: 14px;
    padding-right: 40px;

}

.search-form-item-arrival label,
.search-form-item-departure label {
    display: block;
    margin-top: 6px;
    margin-bottom: 5px;
    /* padding-top: 6px; */
    max-width: 100px;
}

.date-of-arrival-calendar {
    position: absolute;
    top: 8px;
    right: 8px;   
}

.search-form-item-departure input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
    width: 346px;
    margin-right: -17px;
    padding-left: 13px;
    padding-right: 40px;
}

.date-of-departure-calendar {
    position: absolute;
    top: 8px;
    right: 8px;        
}

.search-container-adult {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;    
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 29px;
}

.search-container-adult p {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;    
    -webkit-box-align: center;    
        -ms-flex-align: center;    
            align-items: center;
}

.search-container-adult input {
    width: 38px;
    height: 38px;

    text-align: center;
}

.search-form-adult input {
    max-width: 50px;
    margin-left: 39px;
}

.item-quantity {
    width: 180px;
    margin-left: 5px
}

.item-quantity input {
    margin-left: 29px;
}

.button-adult-remove {
    padding: 0;

    position: relative;
    top: 0px;
    left: 39px;

    width: 38px;
    height: 38px;
    border: none;

    background-color: #f2f2f2;
}

.adult-remove {
    position: absolute;
    top: 15px;
    left: 15px;
}

.button-adult-add {
    padding: 0; 

    position: relative;
    top: 0px;
    left: 0px;      
    
    width: 38px;
    height: 38px;
    border: none;

    background-color: #f2f2f2;
}

.adult-add {
    position: absolute;
    top: 15px;
    left: 13px;
}

.children-remove {
    position: absolute;
    top: 15px;
    left: 14px;
}

.button-children-remove {  
    position: relative;
    top: 0px;
    left: 29px;

    width: 38px;
    height: 38px;
    padding: 0;    
    border: none;

    background-color: #f2f2f2;
}

.children-add {
    position: absolute;
    top: 15px;
    left: 14px;
}
.button-children-add {    
    position: relative;
    top: 0px;
    left: 0px;

    padding: 0;
    width: 38px;
    height: 38px;
    border: none;

    background-color: #f2f2f2;
}

.adult-remove:hover line,
.adult-add:hover line {
    stroke: #000000;
}

.adult-remove:active line,
.adult-add:active line {
    stroke: #81b3d2;
}

.children-remove:hover line,
.children-add:hover line {
    stroke: #000000;
}

.children-remove:active line,
.children-add:active line {
    stroke: #81b3d2;
}

.date-of-arrival-calendar path,
.date-of-departure-calendar path {
    fill: #cacaca;
}

.date-of-arrival-calendar:hover path,
.date-of-departure-calendar:hover path {
    fill: #000000;
}

.date-of-arrival-calendar:active path,
.date-of-departure-calendar:active path {
    fill: #81b3d2;
}

.search-form input,
.search-form input::-webkit-input-placeholder {
    /* padding-top: 4px; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px; 
    font: inherit;
    color: #000000;
    font-weight: bold;
    
    background-color: #f2f2f2; 
    
    border: none;
}

.search-form input,
.search-form input:-ms-input-placeholder {
    padding-top: 1px;
    box-sizing: border-box;

    font-size: 14px; 
    font: inherit;
    color: #000000;
    font-weight: bold;
    
    background-color: #f2f2f2; 
    
    border: none;
}

.search-form input,
.search-form input::-ms-input-placeholder {
    padding-top: 1px;
    box-sizing: border-box;

    font-size: 14px; 
    font: inherit;
    color: #000000;
    font-weight: bold;
    
    background-color: #f2f2f2; 
    
    border: none;
}

.search-form input,
.search-form input::placeholder {
    padding-top: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size: 14px; 
    font: inherit;
    color: #000000;
    font-weight: bold;
    
    background-color: #f2f2f2; 
    
    border: none;
}

.search-form input:hover,
.search-form input:hover::-webkit-input-placeholder {
    background-color: #ebebeb;     
}

.search-form input:hover,
.search-form input:hover:-ms-input-placeholder {
    background-color: #ebebeb;     
}

.search-form input:hover,
.search-form input:hover::-ms-input-placeholder {
    background-color: #ebebeb;     
}

.search-form input:hover,
.search-form input:hover::placeholder {
    background-color: #ebebeb;     
}

.search-form input:focus,
.search-form input:focus::-webkit-input-placeholder {
    border-color: #e5e5e5;
    color: #000000;
    
    background-color: #ffffff; 
}

.search-form input:focus,
.search-form input:focus:-ms-input-placeholder {
    border-color: #e5e5e5;
    color: #000000;
    
    background-color: #ffffff; 
}

.search-form input:focus,
.search-form input:focus::-ms-input-placeholder {
    border-color: #e5e5e5;
    color: #000000;
    
    background-color: #ffffff; 
}

.search-form input:focus,
.search-form input:focus::placeholder {
    border-color: #e5e5e5;
    color: #000000;
    
    background-color: #ffffff; 
}

.search-form .button-search {
    border: none;
    margin-top: 26px; 
    margin-bottom: 0px;
    min-height: 58px;

    font-size: 21px;
    line-height: 26px;

}

/*___________________Кнопки__________________*/
.button {
    padding: 3px 16px;
    padding-right: 18px;

    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase; 
    
    background-color: #81b3d2;
}

.button:hover {    
    background-color: #669ec0;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;  
    border: none;
}

.button-reserve {
    font-size: 14px;
    line-height: 21px; 
    
    background-color: #766357;
}

.button-open-search:hover,
.button-reserve:hover {
    background-color: #604e43;
}

.button-open-search:active,
.button-reserve:active {
    color: rgba(255, 255, 255, 0.3);   
    
    border: none;
    background-color: #503e33;
}
/*________________Карта_________________*/
.map-container {
    display: flex;
    flex-direction: column;
    height: 474px;
}
.map {
    position: relative;
}

.map iframe {
    z-index: 2;

    border: none;
}

/*_______________Подвал_______________*/

.main-footer { 
    position: relative;
    z-index: 3;

    padding: 31px 73px;
    
    line-height: 26px;       
    
    background-color: rgba(255, 255, 255, 0.5);  
}

.main-footer.inner {
    margin-top: 2px;
}

.main-footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.icon-visitsedona {
    width: 200px;
    padding-left: 27px;
    padding-right: 8px;
    
    font-weight: bold;
    font-size: 21px;  
    color: #000000;
    text-align: center;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    width: 47px;
    height: 48px;

    text-decoration: none;
    list-style: none;
    color: #ffffff;   
    
    background-color: #81b3d2;     
}

.social-button:hover {
    background-color: #669ec0;
}

.social-container:active path {
    fill: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
    border: none;
}

.social-container:active a {
    fill: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.social-list { 
    margin: 0;
    padding: 0;

    display: -webkit-box; 
        display: -ms-flexbox; 
            display: flex;  
    -ms-flex-wrap: wrap;  
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    width: 151px;

    list-style: none;
}

.footer-logo { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    width: 200px;
    padding-left: 12px;
    padding-right: 25px;
    
    text-align: center;
    line-height: 26px;
    color: #000000;    
}

.footer-logo a {
    display: inline-block;    
    vertical-align: bottom;
    
    padding-top: 7px;
    padding-right: 3px;
}

.footer-logo-img path {
    fill: #000000;
}

.footer-logo-img path:hover {
    fill: #81b3d2;    
}

.footer-logo-img path:active {
    fill: #bdbbbc;
}

/*__________Вторая страница__________*/
.site-navigation-active a {
    color: #766357;
}

.filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
    
    padding-top: 26px;
    padding-bottom: 32px;
    padding-right: 72px;
    padding-left: 72px;
    color: #ffffff;
     
    background: #547a92 url("../img/filter-background.jpg")   no-repeat;
    background-size: cover;
}

.filter-container {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;   
}

.filter {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* Фильтр */
.filter-range {
    width: 318px;
  
    color: #ffffff;
    text-transform: uppercase;
}
  
.filter-range-title {
    margin-bottom: 11px;
  
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter-column {
    padding: 0;
    margin: 0;
    margin-right: 119px;
    border: none; 
}

.filter-column h3 {
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    font-weight: bold;
}

.filter-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-option {
    margin-top: 25px;
}

.filter-option  label {
    position: relative;

    display: block;
    padding-left: 41px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;  
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    left: 0px;
    top: 0;

    width: 26px;
    height: 23px;
    
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
    content: "";
  
    position: absolute;
    left: 0px;
    top: 0;

    width: 26px;
    height: 23px;

    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:checked:disabled  + label::after {
    content: "";

    position: absolute;
    left: 0px;
    top: 0;

    width: 26px;
    height: 23px;
    
    background-image: url(../img/checkbox-on-disabled.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:disabled  + label::before {
    content: "";

    position: absolute;
    left: 0px;
    top: 0;

    width: 26px;
    height: 23px;
    
    background-image: url(../img/checkbox-off-disabled.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input:focus {outline: tomato; border:yellow 50px so;}

.price-controls {
    position: relative;
    
    height: 32px;
    margin-bottom: 20px;
  
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
}
  
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  
.price-controls label {
    display: inline-block;
    vertical-align: bottom;
    
    padding-top: 5px;

    font-size: 14px;
    line-height: 21px;    
  
    cursor: pointer;
}
  
.price-controls .min-price,
.price-controls .max-price {
    width: 81px;
    padding-left: 65px;
}
  
.price-controls input {
    width: 50px;
    margin: 0;
    padding: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}
  
.range-controls {
    position: relative;
  
    margin-bottom: 32px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}
  
.range-toggle {
    position: absolute;
    top: -9px;
  
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
  
.range-toggle:hover {
    background: #1c4f80;
}
  
.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}
  
.btn-transparent {
    display: block;
    margin: 0;
    margin-left: 85px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-right: 34px;
    padding-left: 34px;
    
  
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
}

.sorting-form{  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;

    padding: 30px 72px;
    padding-bottom: 29px;          
    border-bottom: 1px solid #cacaca;
}

.sorting-form p {
    margin: 0;
    margin-right: 48px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sorting-form h2 {
    margin: 0;
}

.hotels-list {    
    margin: 0; 
    padding: 0;
}

.hotels-item {  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;  
    -webkit-box-pack: justify;  
        -ms-flex-pack: justify;  
            justify-content: space-between;

    padding: 0;
    margin: 0px;
    padding: 29px 72px;
    border-bottom: 1px solid #cacaca;
    
    list-style: none;
}

.hotels-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hotels-info .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: row; 
            flex-direction: row;
}

.hotels-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 30px;    
}

.hotels-info img {
    padding-top: 2px;
    line-height: 0;
}

.star-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    text-align: right;
}

.star::before {
    content: "";

    display: table;
    width: 18px;
    height: 18px;
    margin-left: 6px;

    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
}

.hotels-list h3:hover {
    color: #81b3d2;
}

.hotels-list h3:active {
    color: rgba(0, 0, 0, 0.3);     
}

.hotels-list h3 {
    margin: 0;
    padding: 0;
    margin: -3px 0 0;
    padding-bottom: 8px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotels-detailed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    min-height: 60px;    
    margin-right: 6px;
}

.hotels-reserve {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    min-height: 60px;
}

.sorting-header {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
}

.sorting-list {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    list-style: none;    
}

.sorting-list-container {
    display: flex;
    justify-content: space-between;
}

.sorting-item {
    margin-right: 33px;
}
.sorting-item a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed #81b3d2;
}

.sorting-item a:hover {
    color: #81b3d2;
}

.sorting-item a:active {
    color: #000000;
}

.sorting-list-right a{
    border-bottom-color: rgba(0, 0, 0, 0.3);   
}

.sorting-list-right a:hover{
    border-bottom-color: #000000;  
}

.sorting-list-right a:active {
    border-bottom-color: #81b3d2; 
}

.sorting-decrease,
.sorting-increase {
    margin: 0;
    padding: 0;
    position: relative;
}

.sorting-decrease a {
    margin: 0;

    display: block;    
    margin-right: 12px;
    margin-top: -3px;
    width: 0px;
    height: 0px;
    border: 5.5px solid transparent;
    border-bottom: 10px solid #cacaca;
}
.sorting-increase a {
    margin: 0;

    display: block;
    margin-top: 2px;
    width: 0px;
    height: 0px;    
    border: 5.5px solid transparent;
    border-top: 10px solid #cacaca;
}

.sorting-increase a {
    border-top-color: #81b3d2; 
}

.sorting-list-right {
    display: flex;

    margin-left: 430px;  
}

.sorting-item .sorting-link-active {
    border-bottom: none;
    color: #81b3d2;
}

.hotels-star-rating {
   width: 241px; 
}

.rating {
    min-height: 27px;
    color: #666666;    
    padding-right: 13px;
    padding-left: 15px;

    background-color: #f2f2f2;
}

.rating span {
    display: block;

    margin-top: 3px; 
}